body {
    background: #b3bbc9;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
    color: #c9bcb3;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #c9bcb3;
}
